backup/
old_backup/
wine/
/crap
/ecce
/test
/cad_samples/*
/my_resources/
/release/
/samples
/source/jot.lis
/source/jot.map
/source/jot.c~*
/docs/*.hlp
/recover_now.jot
/x*
multi_do_*
/test_*.jot
\[*
resources/owners_direct.txt
a.out
*core*
temp_jot.c_*
mt1/
mt2/
mt3/
mt4/

